
:root {
    --main-bg: #ffffff;
    --header-bg: #ffffff;
    --stopwatch-bg: #aab7b8;
    --logo-color: #000000;
    --quote-bg: #aab7b8;
    --ai-bg: #ffffff;
    --question-bg: #aab7b8;
    --answer-bg: #f4f6f6;
    --input-bg: #ffffff;
    --todo-bg: #E6ECF0; /* 변경된 투두리스트 배경 색상 */
    --button-bg: #000080;
    --button-color: #ffffff;
    --border-color: #aab7b8;
    --tab-bg: #aab7b8;
    --usercard-bg:#fdf6e3
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: var(--header-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid var(--border-color);
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center; /* 필요시 오른쪽으로는 right 적용 */
    padding: 0 1rem;
    height: 60px; /* header 높이에 맞게 조정 */
}

.logo img {
    height: 140px; /* 여기서 크기 조절! */
    object-fit: contain;
}

button {
    cursor: pointer;
    border: none;
    background: none; 
}