

.stopwatch, .quote-board, .logo {
    padding: 8px 12px;
    border-radius: 8px;
}

.stopwatch {
    background-color: var(--stopwatch-bg);
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 20px;
    color: var(--logo-color);
}

.quote-board {
    background-color: var(--quote-bg);
}

.container {
    flex: 1;
    display: flex;
    position: relative;
    overflow: hidden;
}